body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #191716;
    margin: 0px; padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    color: #C3F3C0;
    font-size: 3.2em;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1 0 auto ;
    justify-content: center;
    align-items: center;
}

/* content items */
.calc {
    background: black;
    width: 500px;
    height: 600px;
    padding: 0px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background: #C3F3C0;
    padding: 10px;
    font-weight: 550;
}